In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/aeri/Desktop/Climate Risk/MINIPROJECT/USW00023234.csv', low_memory=False)

# dates
df['DATE'] = pd.to_datetime(df['DATE'])

# necessary columns extract
cols = ['DATE', 'TMAX', 'TMIN', 'TAVG']
df = df[cols]

# TAVG calculation (in case of no data)
df['TAVG'] = df['TAVG']. fillna((df['TMAX'] + df['TMIN']) / 2)

# NOAA Celsius*10 to C
df['TMAX'] = df['TMAX']/10
df['TMIN'] = df['TMIN']/10
df['TAVG'] = df['TAVG']/10

df.to_csv('clean_temperature.csv', index=False)

In [3]:
df.head()

        DATE  TMAX  TMIN   TAVG
0 1945-07-01  23.3  12.2  17.75
1 1945-07-02  21.7  12.2  16.95
2 1945-07-03  22.2  12.8  17.50
3 1945-07-04  22.2  12.2  17.20
4 1945-07-05  18.9  12.8  15.85

In [5]:
out = df.copy()

# date 정렬 + 인덱스 리셋
out = out.sort_values("DATE").reset_index(drop=True)
# export
out_path = "/Users/aeri/Desktop/Climate Risk/MINIPROJECT/clean_temperature.csv"
out.to_csv(out_path, index=False)

out.head()

        DATE  TMAX  TMIN   TAVG
0 1945-07-01  23.3  12.2  17.75
1 1945-07-02  21.7  12.2  16.95
2 1945-07-03  22.2  12.8  17.50
3 1945-07-04  22.2  12.2  17.20
4 1945-07-05  18.9  12.8  15.85